.paper{
    margin: 0 auto;
    font-size: 11px;    
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 150px;
    display: inline-block;
}

.usuario{
    position: absolute;
    left: 550px;
    top: 20px;
    width: 150px;
    padding: 4px 0px;
    font-size: 9px;
}

.fecha{
    position: absolute;
    left: 550px;
    top: 40px;
    width: 150px;
    padding: 4px 0px;
    font-size: 9px;
}


.fila2{
	border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.fila1,.fila3{
	border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}

.titulo{
    border: 0px solid black;
    text-align: center;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bold;
}

.subtitulo{
    text-align: left;
    padding: 4px 10px;
    font-weight: bold;
    width: 15%;
    display: inline-block;
}

.contenido{
    text-align: left;
    padding: 4px 0px;
    display: inline-block;
}

.col_1{
    text-align: center;
    padding: 4px 0px;
    font-weight: bold;
    width: 6%;
    display: inline-block;
}

.col_2{
    text-align: center;
    padding: 4px 0px;
    font-weight: bold;
    width: 10%;
    display: inline-block;
}

.col_3,.col_4{
    text-align: left;
    padding: 4px 0px;
    font-weight: bold;
    width: 22%;
    display: inline-block;
}

.col_5, .col_6{
    text-align: center;
    padding: 4px 0px;
    font-weight: bold;
    width: 8%;
    display: inline-block;
}

.col_7, .col_8{
    text-align: right;
    padding: 4px 0px;
    font-weight: bold;
    width: 9%;
    display: inline-block;
}

.col_totales_titulos{
    text-align: right;
    padding: 4px 0px;
    font-weight: bold;
    width: 80%;
    display: inline-block;
}
.col_totales{
    text-align: right;
    padding: 4px 0px;
    font-weight: bold;
    width: 16%;
    display: inline-block;
}

.fila2_1{
    text-align: center;
    padding: 4px 0px;
    width: 6%;
    display: inline-block;
}

.fila2_2{
    text-align: center;
    padding: 4px 0px;
    width: 10%;
    display: inline-block;
}

.fila2_3,.fila2_4{
    text-align: left;
    padding: 4px 0px;
    width: 22%;
    display: inline-block;
}

.fila2_5, .fila2_6{
    text-align: center;
    padding: 4px 0px;
    width: 8%;
    display: inline-block;
}

.fila2_7, .fila2_8{
    text-align: right;
    padding: 4px 0px;
    width: 9%;
    display: inline-block;
}

.totales{
    border: 0px solid black;
    text-align: right;
    padding: 4px 0px;
    font-size: 12px;
    font-weight: bold;
}