body
{
    padding-bottom: 3em;
}
.status-bar
{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    text-align: right;
}
.status-bar div
{
    padding: 4px;
    display: inline-block;
}
.btn-floating
{
    right: 16px!important;
    bottom: 40px!important;
}